<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--主键字段映射-->
<mapper namespace="com.drone.system.mapper.UserMapper">
    <!--resultMap作用：将数据库查询的结果映射到UserResult上-->
    <resultMap id="UserResult" type="User">
        <!--主键值映射-->
        <id property="userId" column="user_id"/>
        <!--普通字段映射-->
        <result property="userName" column="user_name"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--以下两种定义方法相同-->
    <!--<select id="selectUserByUserName" resultType="User"></select> -->
    <!--根据用户名查询数据-->
    <select id="selectUserByUserName" resultMap="UserResult" parameterType="String">
        select user_id, user_name, sex, avatar, password, create_time
        from user
        where user_name = #{userName}
    </select>
    <!--通过用户Id查询用户信息-->
    <select id="selectUserByUserId" resultMap="UserResult" parameterType="Long">
        select user_id, user_name, sex, avatar, password, create_time
        from user
        where user_id = #{userId}
    </select>

    <!--新增用户-->
    <!--
        第一个trim标签，用于生成SQL语句的字段部分，
        生成的字段：user_id,user_name,password
    -->
    <insert id="insertUser" parameterType="User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="avatar != null and avatar != ''">avatar,</if>
            <if test="sex != null">sex,</if>
            <if test="password != null and password != ''">password,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="avatar != null and avatar != ''">#{avatar},</if>
            <if test="sex != null">#{sex},</if>
            <if test="password != null and password != ''">#{password},</if>
        </trim>
    </insert>

    <!--更新用户头像-->
    <update id="updateUserAvatar" parameterType="User">
        update user
        set avatar = #{avatar}
        where user_id = #{userId}
    </update>

</mapper>